body{
	text-align: center;
	background-color: rgb(109, 160, 158);
}

li{
	display: flex;
	flex-direction: row;
    border: 1px solid black;
    margin: 10px;
    width: 400px;
    align-items: center;
}

[value="delete"], [value="check"]{
    width: 50px;
    margin: 5px;
}